<!DOCTYPE html>
<html>
<head>
    <title>User Orders</title>
</head>
<body>
            <!-- Display flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <p style="color: red;">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Orders for {{ user[1] }}</h2>
    
    <h3>Order Details:</h3>
    <ul>
        {% for order in orders %}
            <li>Order ID: {{ order[0] }}, Date: {{ order[1] }}, Product: {{ order[2] }}, Quantity: {{ order[3] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
